<!doctypehtml>
<html lang=en>
<footer>
<div class=footer>
<div class=footer-section>
<div class="footer-column contact-info">
<div class=icon-container>
<div class="icon-box phone"><i class="fas fa-phone-alt"></i></div><span>+251 984 281 446 | +251 114 424
703</span>
</div>
<div class=icon-container>
<div class=icon-box><i class="fas fa-envelope"></i></div><a href=mailto:info@dazzlekreatives.com>info@dazzlekreatives.com</a>
</div>
<div class=icon-container>
<div class="icon-box last-icon"><i class="fas fa-map-marker-alt"></i></div>Saris Kadisco | Teklehaymanot
Building<br>5th Floor | Office No. 506<br>Addis Ababa, Ethiopia
</div>
</div>
<div class="footer-column navbar-links">
<ul>
<li><a href=/home onclick='return page("/home"),!1'>Home</a>
<li><a href=/about onclick='return page("/about"),!1'>About</a>
<li><a href=/portfolio onclick='return page("/portfolio"),!1'>Portfolio</a>
<li><a href=https://dazzlesuk.com/ target=_blank>Dazzle-Suk</a>
<li><a href=/contact onclick='return page("/contact"),!1'>Contact Us</a>
</ul>
</div>
<div class="footer-column social-links">
<div class=social-icon-box>
<div class=icon-box><a href="https://www.instagram.com/dazzle_kreatives?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target=_blank><i class="fab fa-instagram"></i></a></div>
<div class=icon-box><a href="https://www.tiktok.com/@dazzle.kreatives?is_from_webapp=1&sender_device=pc" target=_blank><i class="fab fa-tiktok"></i></a></div>
<div class=icon-box><a href=https://www.linkedin.com/company/dazzle-kreatives/ target=_blank><i class="fab fa-linkedin"></i></a></div>
<div class=icon-box><a href=https://t.me/dazzle_kreatives target=_blank><i class="fab fa-telegram-plane"></i></a></div>
<div class=icon-box><a href=https://www.pinterest.com/dazzle_kreatives/ target=_blank><i class="fab fa-pinterest"></i></a></div>
</div>
<div class=footer-brand><img alt="Dazzle Kreatives Logo" src=/assets/images/footer_brand.png></div>
</div>
</div>
<div class=copyright>
<p>Copyright © 2024 Dazzle Kreatives Trading PLC. All rights reserved.
<p><a href=https://luminatech.ai/ target=_blank>Powered by Lumina.</a>
</div>
</div>
</footer>
</body>
</html>