<!doctypehtml>
<html lang=en>
<meta charset=UTF-8>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>Creative Studio</title>
<link href=../assets/css/hero.css rel=stylesheet>
<header>
<div class=hero-section>
<div class=hero-image><img alt="Illustration of a person working" src="../assets/images/Vector Art-01.png" loading=lazy></div>
<div class=hero-content>
<h1>WHAT CAN WE</h1>
<h2>DO FOR YOU?</h2>
</div>
</div>
</header>
<section class=clientele>
<div>
<p>A CREATIVE STUDIO, THAT TRANSFORMS VISIONS<br>INTO STUNNING REALITY.
<h2>CLIENTELE</h2>
</div>
<div class=carousel-container><input id=slide1 name=carousel type=radio checked> <input id=slide2 name=carousel type=radio> <input id=slide3 name=carousel type=radio>
<div class=carousel>
<div class=carousel-item><img alt="Image 1" src=../assets/images/CLIENTELE/CLIENTELE-01.png loading="lazy"> <img alt="Image 2" src=../assets/images/CLIENTELE/CLIENTELE-02.png loading="lazy"> <img alt="Image 3" src=../assets/images/CLIENTELE/CLIENTELE-03.png loading="lazy"> <img alt="Image 4" src=../assets/images/CLIENTELE/CLIENTELE-04.png loading="lazy"></div>
<div class=carousel-item><img alt="Image 5" src=../assets/images/CLIENTELE/CLIENTELE-05.png loading="lazy"> <img alt="Image 6" src=../assets/images/CLIENTELE/CLIENTELE-06.png loading="lazy"> <img alt="Image 7" src=../assets/images/CLIENTELE/CLIENTELE-07.png loading="lazy"> <img alt="Image 8" src=../assets/images/CLIENTELE/CLIENTELE-08.png loading="lazy"></div>
<div class=carousel-item><img alt="Image 9" src=../assets/images/CLIENTELE/CLIENTELE-09.png loading="lazy"> <img alt="Image 10" src=../assets/images/CLIENTELE/CLIENTELE-10.png loading="lazy"> <img alt="Image 11" src=../assets/images/CLIENTELE/CLIENTELE-11.png loading="lazy"> <img alt="Image 12" src=../assets/images/CLIENTELE/CLIENTELE-12.png loading="lazy"></div>
</div>
</div>
<div class=dots-indicator><label class=dot for=slide1></label> <label class=dot for=slide2></label> <label class=dot for=slide3></label></div>
</section>
<section class=services>
<h2>SERVICES</h2>
<div class=services-container>
<div class=service-card>
<h3>GRAPHIC DESIGN ▼</h3>
<ul>
<li>Print Design
<li>Digital Design
<li>Stationery Design
<li>Marketing Collateral Design
</ul>
</div>
<div class=service-card>
<h3>BRANDING ▼</h3>
<ul>
<li>Brand Identity Development
<li>Logo Design
<li>Packaging Design
<li>Event Collateral Design
</ul>
</div>
<div class=service-card>
<h3>DAZZLE'S SPECIAL ▼</h3>
<ul>
<li>Digital Marketing
<li>Social Media Management
<li>Video Editing
<li>Event Organization
<li>Photography & Videography
</ul>
</div>
</div>
</section>
</html>